@tailwind base;
@tailwind components;
@tailwind utilities;

.underline {
    width: 3.5rem; 
    height: 0.25rem;
    background: #f97316;
    margin-left: auto;
    margin-right: auto;
}  
.links-container {
    height: 0;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s linear;
}
.img-container {
    position: relative;
    width: 150px;
    margin: 0 auto;
    height: 150px;
}
.img-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #f97316;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}
.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: #eae6eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  align-self: center;
  min-width: 2rem;
}

.person-img {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
.quote-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 1.5rem;
    display: grid;
    border-radius: 50%;
    place-items: center;
    transform: translateY(25%);
}

.maximum{
    max-width: 50rem;
}
.maxxy{
    width: 73%;
}